@import "./_variables.scss";

@mixin flex-center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin heading-container {
  max-width: 1550px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  h1 {
    font-family: "Kumbh Sans";
    font-size: 36px;
    font-weight: 600;
  }
}

@mixin pill {
  height: 100px;
  width: 706px;
  border-radius: 0 100px 100px 0;
  @include illustrations-color;
}

@mixin circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  @include illustrations-color;
}

@mixin illustrations-color {
  &.yellow {
    background-color: $yellow;
  }
  &.grey {
    background-color: $grey;
  }
}

@mixin primary-button {
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 250px;
  background-color: $grey;
  font-family: "Kumbh Sans";
  font-size: 18px;
  color: $white;
  margin-top: 50px;
  transition: 0.3s;
  &:hover, &.selected {
    background-color: $light-grey;
    color: $grey;
    transition: 0.3s;
  }
}

@mixin secondary-button {
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 160px;
  background-color: $light-grey;
  font-family: "Kumbh Sans";
  font-size: 16px;
  color: $grey;
  transition: 0.3s;
  &:hover {
    background-color: $grey;
    color: $white;
    transition: 0.3s;
  }
}

@mixin secondary-button {
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 160px;
  background-color: $light-grey;
  font-family: "Kumbh Sans";
  font-size: 16px;
  color: $grey;
  transition: 0.3s;
  &:hover {
    background-color: $grey;
    color: $white;
    transition: 0.3s;
  }
}
